body {
    background-color: darkturquoise;
    margin:0px;
}
h1 {
    font-family:monospace;
    color:white;
    text-align: center;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 50px;
    text-shadow: 2px 5px 3px darkblue;
    
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:whitesmoke;
    margin: 20px;
    font-weight:bold;
}
#all {
    background-color: teal;
    padding:10px;
    margin:20px;
    border-radius: 10px;
    border-color: aqua;
    border-width: 10px;
    border-style: inset;
}
img {
    image-rendering: pixelated;
}
#mystuff {
    box-shadow: 0px 0px 50px purple;
    background-color: purple;
    padding:5px;
    font-size: 12px;
    color:white;
    margin:20px;
    border-radius: 0px;
    border-color: plum;
    border-width: 1px;
    border-style:solid;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#stuff2 {
    background-color: white;
}
#windowlogo {
    font-weight: lighter;
    margin: 2px;
    margin-bottom: 5px;
    font-size: 13px;
}